
@{
    ViewBag.Title = "";
}

<h2> 5 TANE SORGU VE CEVABIN string/json/xml  üreten restful servisini oluştrunuz</h2>
<hr/>
sorgu1 :
<li>@Html.ActionLink("çanakkale sehir içi otobüs durakları isimleri", "busStopNames", "HW3")</li>
<hr />
sorgu2 : 
<li>@Html.ActionLink("ÇT3 otobüsüne binebileceğim bana en yakın 3 durak hangileri", "enyakin3durakCT3", "HW3")</li>
<hr />
sorgu3 :
<li>@Html.ActionLink("Ç1 hattına en yakın 5 kişi ", "c1hattinaenyakin5kisi", "HW3")</li>
<hr />
sorgu4 :
<li>@Html.ActionLink("Özgürlük parkına en yakın 5 hat", "ozgurlukparkinayakinduraklar", "HW3")</li>
<hr />
sorgu5 :
<li>@Html.ActionLink("Kipa Otobüs Durağına en yakın 5 kişi", "kipaotobusduraginaenyakin5kisi", "HW3")</li>




